{% from "macros/_form.html" import render_form %}

{% set page_title = user.first_name %}

{% extends "layouts/base.html" %}


{% block body %}


<h2> {{_('Hello')}}, {{ user.first_name }}!</h2>

<p> Thanks for signing up! </p> <br>
<p> You will be charged on Wednesdays </p>

<button><a href = "{{ url_for('user.cancel_subscription') }}">Cancel Subscription</a></button>
<!-- <button><a href = "{{ url_for('user.update_subscription', plan='single') }}">Single</a></button>
<button><a href = "{{ url_for('user.update_subscription', plan='couple') }}">Couple</a></button>
<button><a href = "{{ url_for('user.update_subscription', plan='family') }}">Family</a></button> -->



{% endblock %}

{% block extra_js %}
{% endblock %}
