{% from "macros/_form.html" import render_form %}

{% set page_title = user.first_name %}

{% extends "layouts/base.html" %}


{% block body %}

<!-- <body class="white_background"> -->
<div class="veggie_circles_background"></div>
<div class="row ">
<div class="col-md-6 col-md-offset-3 centered signup_page">
<h2 class="user_page_text"> {{_('You look beet-utiful today')}}, {{ user.first_name }}! </h2>
<img class="beet_utiful" src="./../static/img/beet_.png"/>
<img class="beet_utiful" src="./../static/img/beet_.png"/>
<img class="beet_utiful" src="./../static/img/beet_.png"/>
<p>you are currenty signed up for a <b>{{ user.box_size }}</b> box</p>
<p>Need to change or cancel your subscription? Click below! </p>
<div class="btn"><a href = "{{ url_for('user.cancel_subscription') }}">Cancel</a></div>
<div class="btn"><a href = "{{ url_for('user.update_subscription', plan='single') }}">Single</a></div>
<div class="btn"><a href = "{{ url_for('user.update_subscription', plan='couple') }}">Couple</a></div>
<div class="btn"><a href = "{{ url_for('user.update_subscription', plan='family') }}">Family</a></div>
<br><br><br><h2>What to expect!</h2>
<p>Your next delivery is scheduled for next Wednesday! <b> July, 27th</b></p>
<p><i>Seasonal</i> produce to expect: Figs, Peppers, Pears, Onion, Garlic, Lambs Quarter, Mushrooms, Red Hemp, &amp; Tomatoes! </p>
<div class="btn"><a href="{{ url_for('frontend.logout') }}">{{_('Log out')}}</a></div>
</div>
</div>
<!-- </body> -->


{% endblock %}

{% block extra_js %}
{% endblock %}
