<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ page_title|default(_('Project')) }}{% endblock %}</title>
    <meta name="description" content="uru_crm (Flask bone) is a Flask (Python microframework) template/bootstrap/boilerplate application.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="Shortcut Icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    {% block css %}
        {% assets "css_all" -%}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {%- endassets %}
    {% endblock %}

    {% block css_style %}
    {% endblock %}

    {% block js_top %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script type="text/javascript">
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    {% endblock %}
</head>

<body class="veggie_circles_background">
    {% include "macros/_ask_user_to_update_ie.html" %}

    {% block topbar %}
    <nav class="navbar navbar-fixed-top nav_signup" role="navigation">
        <div class="container nav_bar_buttons">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/index">
                  <i class="fa fa-sun-o" aria-hidden="true"></i>
                    <span class="light">UruTallahassee</span>
                </a>
            </div>
        {% if current_user.is_authenticated() %}
        <form class="navbar-form navbar-left navbar-fixed-top nav_signup" role="search">
            <div class="form-group">
                <input type='text' class="form-control" name='keywords' value='{{ keywords|default('') }}' placeholder='Search' />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-fixed-top navbar-right nav_signup">
                {% if current_user.is_admin() %}
                <li><a href="{{ url_for('admin.index') }}">{{ current_user.name }}</a></li>
                <li><a href="{{ url_for('admin.farms') }}">{{_('Farms')}}</a></li>
                <li><a href="{{ url_for('admin.users') }}">{{_('Users')}}</a></li>
                <li><a href="{{ url_for('admin.numbers') }}">{{_('Account')}}</a></li>
                {% else %}
                <li><a href="{{ url_for('user.index') }}">{{ current_user.name }}</a></li>
                {% endif %}
                <li><a href="{{ url_for('settings.profile') }}">{{_('Settings')}}</a></li>
                <li><a href="{{ url_for('frontend.logout') }}">{{_('Log out')}}</a></li>
            </ul>
        </div>
        {% else %}
        <div id="navbar" class="collapse navbar-fixed-top navbar-custom navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="black_text_navbar"><a href="{{ url_for('frontend.signup') }}">{{_('Sign up')}}</a></li>
            <li class="black_text_navbar"><a href="{{ url_for('frontend.login') }}">{{_('Sign in')}}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        {% endif %}
      </div>
    </nav>
    {% endblock %}

    {% block container %}
    <!-- <div class="intro"> -->
    <div class="container">
        <div class="page-header">
            {% block body %}
            {% endblock %}
        </div>
      </div>
    <!-- </div> -->
    {% endblock %}

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Uru Tallahassee</h2>
                <p>Comments, questions, concerns?  Feel free to send us an email and we'll get back to you as soon as possible</p>
                <p><a href="mailto:hello@urutallahassee.com">hello@urutallahassee.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://instagram.com/urutallahassee" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                    <li>
                        <a href="https://facebook.com/urutallahassee" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <!-- <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </section>

    <!-- <footer class="footer">
        <ul class="footer-links">
            <li>{{_('&copy;')}}</li>
            <li><a href='https://github.com/frankV/manekineko'>{{_('About')}}</a></li>
            <li class="muted">&middot;</li>
            <li><a href='{{ url_for('frontend.help') }}'>{{_('Help')}}</a></li>
            <li class="muted">&middot;</li>
            <li><a href='#'>{{_('Terms')}}</a></li>
        </ul>
    </footer> -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Uru 2016</p>
        </div>
    </footer>


    {% block js_btm %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        {% assets "js_vendor" -%}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block ga %}
        {% include "macros/_google_analytics.html" %}
    {% endblock %}
</body>
</html>
