
{% from "macros/_form.html" import render_form %}

{% set page_title = 'Uru' %}

{% extends "layouts/base.html" %}
{% block body %}
<div class="veggie_circles_background"></div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<div class="row">
<div class="col-md-8 col-md-offset-2 centered signup_page">
  <p>Peas fill out this form to signup!</p>
    {{ render_form(url_for('frontend.signup'), form) }}</div>
</div>


        <!-- {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %} -->
        {% if current_user.is_authenticated() %}
            <h2>Hi, {{ current_user.nickname }}!</h2>
            <p><a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
            <!-- <h2>I don't know you!</h2> -->

        {% endif %}

{% endblock %}
