{% extends 'layouts/base.html' %}

{% set page_title = 'Home' %}

{% block body %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Intro Header -->
  <header class="intro">
    <div class="row">
        <div id="hero" class="col-4 col-offset-3 centered">
            <div class="brand-heading"><h1>URU</h1><h3>TALLAHASSEE</h3></div>
            <div class="intro-text">
              <h4>Hand-Delivered Produce</h4>
              <h4><strong>{ Farm-To-Doorstep }</strong></h4>
              <h4>Always Organic</h4>
              <h4>Always Locally Sourced</h4>
            </div>
        </div>
    </div>
    <div class="row">
      <a href="#about">
        <button>
          Get Started
        </button>
      </a>
    </div>
    <div id="box_date">BOX FROM JULY 28, 2016</div>
  </header>

  <!-- 3 row thing -->
  <section class="container">
      <div class="row aboutSection">
        <div class="col-md-4 square">
          <div class="fidy yellow">
            <!-- <img src="./../static/img/cucumbers.jpeg"/> -->
          </div>
          <div class="fidy">
            <p>Hand picked from the farm. </p>
          </div>
        </div>
        <div class="col-md-4 square">
          <div class="fidy">
            <p>hi these r veggies.</p>
          </div>
          <div class="fidy yellow">
            <!-- <img src="./../static/img/cucumbers.jpeg"/> -->
          </div>
          </div>
          <div class="col-md-4 square">
            <div class="fidy yellow">
              <!-- <img src="./../static/img/cucumbers.jpeg"/> -->
            </div>
            <div class="fidy">
              <p>hi these r veggies. </p>
            </div>
        </div>
      </div>
  </section>

  <!-- About Section -->
  <section id="sizes">
    <div class="row">
      <h3>How many veggies do you need?</h3>
      <h5>We have 3 box sizing options:</h5>
    </div>
    <div class="row">
          <div class="col-md-4 col-centered">
            <a href="{{ url_for('frontend.signup', box_size='single')}}">
              <div id="lil_sweet_potato_background" class="veggie_circles">
                  <h1>1</h1>
                <p class="tiny">a single sprout</p>
                  <h3>SINGLE</h3>
                  <p>enough for one person</p>
                  <h3>$25</h3>
              </div>
            </a>
            <a href="{{ url_for('frontend.signup', box_size='single')}}">
              <button>Select</button>
            </a>
          </div>
          <div class="col-md-4 col-centered">
            <div id="mushie_background" class="veggie_circles">
              <a href="{{ url_for('frontend.signup', box_size='couple')}}">
                <h1>2</h1>
              <p class="tiny">two peas in a pod!</p>
                <h3>COUPLE</h3>
                <p>enough for two people</p>
                <h3>$45</h3>
            </div>
            <button>Select</button>
              </a>
        </div>

          <div class="col-md-4 col-centered">
            <div id="tomato_background" class="veggie_circles">
              <a href="{{ url_for('frontend.signup', box_size='family')}}">
                <h1>3</h1>
              <p class="tiny">a carr[ot]ing family</p>
                <h3>FAMILY</h3>
                <p>enough for four people</p>
                <h3>$75</h3>
              </div>
              <button>Select</button>
              </a>
          </div>
    </div>
        <!-- </div> -->
  </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
              <div class="cucumber_background">
                <div class="col-md-6 cucumber_font">
                    <h2>Buying Local:</h2>
                    </p>
                  </div>
                    <div class="col-md-6 black_background">
                      <p class="black_background_padding"><i>Nut</i> only helps local farmers, but it:
                      <h1>Reduces emmissions</h1>
                      <p>Buying local means a lot less transportation, which means a lot less fossil fuels to pollute the air</p>
                      <h1>Enhances the community</h1>
                      <p>Bring the community together</p>
                      <h1>Increases Happiness</h1>
                      <p>Produce picked the same day as eaten is proven to have much more vitamins.  More vitamins means more happiness. </p>
                      <br><br>We want you to feel <i>grape</i> about what you eat.</p>
                </div>
              </div>
            </div>
            </div>
    </section>

{% endblock %}
