{% extends 'layouts/base.html' %}

{% set page_title = 'Home' %}

{% block body %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Intro Header -->
  <header class="intro">
    <div class="row">
        <div id="hero" class="col-4 col-offset-3 centered">
            <div class="brand-heading"><h1>URU</h1><h3>TALLAHASSEE</h3></div>
            <div class="intro-text">
              <h4>Hand-Delivered Produce</h4>
              <h4><strong>{ Farm-To-Doorstep }</strong></h4>
              <h4>Always Organic</h4>
              <h4>Always Locally Sourced</h4>
            </div>
        </div>
    </div>
    <div class="row">
      <a href="#about">
        <button>
          Get Started
        </button>
      </a>
    </div>
    <div id="box_date">BOX FROM JULY 28, 2016</div>
  </header>

  <!-- 3 row thing -->
  <!-- <section id="about">
      <div class="row aboutSection">
        <div class="col-md-4 square">
          <div class="fidy yellow" id="step_one">
          </div>
          <div class="fidy">
            <p>Hand picked from the farm. </p>
          </div>
        </div>
        <div class="col-md-4 square">
          <div class="fidy">
            <p>hi these r veggies.</p>
          </div>
          <div class="fidy yellow" id="step_two">
          </div>
          </div>
          <div class="col-md-4 square">
            <div class="fidy yellow" id="step_three">
            </div>
            <div class="fidy">
              <p>hi these r veggies. </p>
            </div>
        </div>
      </div>
  </section> -->

  <!-- About Section -->
  <section id="sizes">
    <div class="row">
      <h3>How many veggies should we bring you?</h3>
      <h5>We have 3 box sizing options:</h5>
    </div>
    <div class="row">
        <div class="col-md-4 col-centered option">
          <a href="{{ url_for('frontend.signup', box_size='single')}}">
            <div id="mushie_background" class="veggie_circles">
              <h1></h1>
            </div>
            <div class="buy_here">
              <p class="tiny">a single sprout</p>
              <h3>SINGLE</h3>
              <p>enough for <span class="size">one</span> person</p>
              <h3>$25</h3>
            </div>
          </a>
          <a href="{{ url_for('frontend.signup', box_size='single')}}">
            <button>Select</button>
          </a>
        </div>
      <div class="col-md-4 col-centered margin option">
        <a href="{{ url_for('frontend.signup', box_size='couple')}}">
          <div id="lil_sweet_potato_background" class="veggie_circles">
            <h1></h1>
          </div>
          <div class="buy_here">
            <p class="tiny">two peas in a pod!</p>
            <h3>COUPLE</h3>
            <p>enough for <span class="size">two</span> people</p>
            <h3>$45</h3>
          </div>
        </a>
        <a href="{{ url_for('frontend.signup', box_size='couple')}}">
          <button>Select</button>
        </a>
      </div>

      <div class="col-md-4 col-centered margin option">
        <a href="{{ url_for('frontend.signup', box_size='family')}}">
          <div id="tomato_background" class="veggie_circles">
            <h1></h1>
          </div>
          <div class="buy_here">
            <p class="tiny">a carr[ot]ing family</p>
            <h3>FAMILY</h3>
            <p>enough for <span class="size">four</span> people</p>
            <h3>$75</h3>
          </div>
        </a>
        <a href="{{ url_for('frontend.signup', box_size='family')}}">
          <button>Select</button>
        </a>
      </div>
    </div>
  </section>

    <!-- Local Section -->
    <section id="local">
      <div class="row contain">
        <div id="buy_local" class="col-md-12">
          <h2>Buy</h2>
          <h2>Local</h2>
        </div>
        <div id="why_local" class="col-md-7">
          <!-- gradient???? -->
          <h3>Help Our Farmers</h3>
          <p>Produce picked the same day as eaten is proven to have much more vitamins. More vitamins means more happiness.</p>
          <h3>Benefit The Community</h3>
          <p>Produce picked the same day as eaten is proven to have much more vitamins. More vitamins means more happiness.</p>
          <h3>Increase Happiness</h3>
          <p>Produce picked the same day as eaten is proven to have much more vitamins. More vitamins means more happiness.</p>
        </div>
      </div>

    </section>

{% endblock %}
